// Colors

$g-color-primary: #FFFFFF;

// Global Values

$g-value-padding: 20px;
$g-value-border-radius: 2px;
$g-value-animation-duration: .15s;
$g-value-animation-function: 'ease';
$g-value-transition: $g-value-animation-duration $g-value-animation-function;
$g-value-border-radius: 0px;

// Global Fonts

$g-font-family-base: sans-serif;