// Colors

$g-color-primary: #FFFFFF;
$g-color-body: #000000;

// Global Values

$g-value-padding: 20px;
$g-value-border-radius: 2px;
$g-value-animation-duration: .15s;
$g-value-animation-function: 'ease';
$g-value-transition: $g-value-animation-duration $g-value-animation-function;
$g-value-border-radius: 0px;

// Global Fonts

$g-font-family-base: sans-serif;

// animatewithsass

$durationDefault: $g-value-animation-duration !default;
$functionDefault: $g-value-animation-function !default;

// Bootstrap Config

$grid-breakpoints: (
        xs: 0,
        sm: 568px,
        md: 768px,
        lg: 1024px,
        xl: 1280px
) !default;

$container-max-widths: (
        sm: 522px + 30px,
        md: 708px + 30px,
        lg: 944px + 30px,
        xl: 1180px + 30px
) !default;

$grid-gutters: (
        xs: 10px,
        sm: 18px,
        md: 12px,
        lg: 16px,
        xl: 10px,
) !default;