&.form-section {
	margin-bottom: $value-default-padding;
}

&.form-field {
	label {
		cursor: pointer;
		user-select: none;
	}
	
	input, select, textarea {
		width: 100%;
		display: block;
		position: relative;
	}
}