.c-form-section {
	margin-bottom: $g-value-padding;
}

.c-form-field {
	label {
		cursor: pointer;
		user-select: none;
	}
	
	input, select, textarea {
		width: 100%;
		display: block;
		position: relative;
	}
}