/* ======================================== >>>>> */
/* = Imports = */
/* ======================================== >>>>> */
/* ––––– External imports ––––– */
/* ––––– General imports ––––– */
@import 'helpers';
@import 'variables';
/* ––––– Lib imports ––––– */
@import '../libs/flexboxgrid/flexboxgrid.min.css';

/* ======================================== >>>>> */
/* = General styles = */
/* ======================================== >>>>> */

* {
	outline: none !important;
}

html {
	overflow-x: hidden;
	
	&.is-overlay {
		overflow: hidden;
	}
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	
	&:hover, &:focus, &:active {
		text-decoration: none;
	}
}

/* ======================================== >>>>> */
/* = Header = */
/* ======================================== >>>>> */

.header {
	
}

/* ======================================== >>>>> */
/* = Main = */
/* ======================================== >>>>> */

.main {
	
}

/* ======================================== >>>>> */
/* = Footer = */
/* ======================================== >>>>> */

.footer {
	
}

/* ======================================== >>>>> */
/* = Sections = */
/* ======================================== >>>>> */

.section {
	
}

/* ======================================== >>>>> */
/* = UI Components = */
/* ======================================== >>>>> */

.ui {
	
	/* ––––– Button ––––– */
	
	&.button {
		@include general-transition();
	}
	
	/* ––––– Navigation ––––– */
	
	&.navigation {
		.menu-item-has-children {
			& > .sub-menu {
				display: none;
			}
			
			&.is-opened {
				& > .sub-menu {
					display: block;
				}
			}
		}
	}
	
	/* ––––– Tabs ––––– */
	
	&.tabs {
		.navigation-tabs {
			.navigation-tab {
				&.is-active {
					
				}
			}
		}
		
		.content-tabs {
			.content-tab {
				display: none;
				
				&.is-active {
					display: block;
				}
			}
		}
	}
	
}
