@import "variables";

/* ======================================== >>>>> */
/* = General helpers = */
/* ======================================== >>>>> */

/* ––––– General transition ––––– */

@mixin general-transition() {
	@media (min-width: $screen-md-min) {
		transition: all .3s ease;
	}
}

/* ––––– Bootstrap container fixed width on small screen ––––– */

//.container {
//	@media (max-width: $screen-xs-max) {
//		max-width: 320px;
//		width: 100%;
//	}
//}

/* ======================================== >>>>> */
/* = Adaptive helpers = */
/* ======================================== >>>>> */

.hidden {
	display: none !important;
	
	// Super small devices
	&-ss {
		@media (min-width: $screen-ss-min) {
			display: none !important;
		}
		
		&-only {
			@media (max-width: $screen-ss-min) {
				display: none !important;
			}
		}
	}
	
	// Small small devices
	&-xs {
		&.only {
			@media (max-width: $screen-xs-max) {
				display: none !important;
			}
		}
	}
	
	// Small devices
	&-sm {
		@media (min-width: $screen-sm-min) {
			display: none !important;
		}
		
		&-only {
			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				display: none !important;
			}
		}
	}
	
	// Media devices
	&-md {
		@media (min-width: $screen-md-min) {
			display: none !important;
		}
		
		&-only {
			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				display: none !important;
			}
		}
	}
	
	// Large devices
	&-lg {
		@media (min-width: $screen-lg-min) {
			display: none !important;
		}
		
		&-only {
			@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
				display: none !important;
			}
		}
	}
	
	// X large devices
	&-xl {
		@media (min-width: $screen-xl-min) {
			display: none !important;
		}
		
		&-only {
			@media (min-width: $screen-xl-min) {
				display: none !important;
			}
		}
	}
}

.visible {
	// Super small devices
	&-ss {
		@media (max-width: $screen-ss-min - 1px) {
			display: none !important;
		}
		
		&-only {
			@media (min-width: $screen-ss-min) {
				display: none !important;
			}
		}
	}
	
	// Small small devices
	&-xs {
		&-only {
			@media (min-width: $screen-sm-min) {
				display: none !important;
			}
		}
	}
	
	// Small devices
	&-sm {
		@media (max-width: $screen-xs-max) {
			display: none !important;
		}
		
		&-only {
			@media (max-width: $screen-xs-max) and (min-width: $screen-md-min) {
				display: none !important;
			}
		}
	}
	
	// Media devices
	&-md {
		@media (max-width: $screen-sm-max) {
			display: none !important;
		}
		
		&-only {
			@media (max-width: $screen-sm-max) and (min-width: $screen-lg-min) {
				display: none !important;
			}
		}
	}
	
	// Large devices
	&-lg {
		@media (max-width: $screen-md-max) {
			display: none !important;
		}
		
		&-only {
			@media (max-width: $screen-md-max) and (min-width: $screen-xl-min) {
				display: none !important;
			}
		}
	}
	
	// X Large devices
	&-xl {
		@media (max-width: $screen-lg-max) {
			display: none !important;
		}
	}
}