* {
	outline: none !important;
	min-height: 0;
	min-width: 0;
}

html {
	overflow-x: hidden;
	
	&.is-overlay {
		overflow: hidden;
	}
}

body {
	font-family: $font-family-base;
	-webkit-text-size-adjust: 100%;
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

a {
	text-decoration: none;
	@include general-transition;
	
	&:hover, &:focus, &:active {
		text-decoration: none;
	}
}

input, textarea, select {
	width: 100%;
}
