/**
 * Section: General Helpers
 */

// Mixin: General transition

@mixin scrolled {
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	transform: translateZ(0px);
}

@mixin general-transition($properties...) {
	@if length($properties) == 0 {
		$properties: all;
	}
	
	@include media-breakpoint-up(md) {
		transition-property: $properties;
		transition-duration: $value-animation-duration;
		transition-timing-function: $value-animation-function;
	}
}

// Mixin: Hide Scroll

@mixin hide-scroll {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	
	&::-webkit-scrollbar {
		display: none;
	}
}

// Margin Helpers

.mb-d {
	margin-bottom: $value-default-padding !important;
}

.-mb-d {
	margin-bottom: -$value-default-padding !important;
}

.mr-d {
	margin-right: $value-default-padding !important;
}

.-mr-d {
	margin-right: -$value-default-padding !important;
}

// Action Helpers

.is-disabled {
	pointer-events: none !important;
}