/**
 * Bootstrap Config
 */



/**
 * Colors
 */

$color-primary: #FFFFFF;

/**
 * Values
 */

$value-default-padding: 15px;
$value-animation-duration: .15s;
$value-animation-function: ease;
$value-transition: $value-animation-duration $value-animation-function;
$value-border-radius: 0px;
$font-family-base: sans-serif;