/* ======================================== >>>>> */
/* = Imports = */
/* ======================================== >>>>> */

/* ––––– External imports ––––– */

/* ––––– General imports ––––– */

@import "helpers";
@import "variables";

/* ––––– Lib imports ––––– */

@import "../libs/bootstrap/bootstrap.min.css";

/* ======================================== >>>>> */
/* = General styles = */
/* ======================================== >>>>> */

* {
	outline: none !important;
}

html {
	overflow-x: hidden;

	&.overlay {
		overflow: hidden;
	}
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;

	&:hover, &:focus, &:active {
		text-decoration: none;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* ======================================== >>>>> */
/* = Header = */
/* ======================================== >>>>> */

.header {

}

/* ======================================== >>>>> */
/* = Main = */
/* ======================================== >>>>> */

.main {

}

/* ======================================== >>>>> */
/* = Footer = */
/* ======================================== >>>>> */

.footer {

}

/* ======================================== >>>>> */
/* = Sections = */
/* ======================================== >>>>> */

.section {

	/* ––––– Page header ––––– */

	&.page-header {

	}

}

/* ======================================== >>>>> */
/* = UI Components = */
/* ======================================== >>>>> */

.ui {

	/* ––––– Button ––––– */

	&.button {
		general-transition();
	}

	/* ––––– Navigation ––––– */

	&.navigation {
		.menu-item-has-children {
			& > .sub-menu {
				display: none;
			}

			&.opened {
				& > .sub-menu {
					display: block;
				}
			}
		}
	}

	/* ––––– Tabs ––––– */

	&.tabs {
		.navigation-tabs {
			.navigation-tab {
				&.active {

				}
			}
		}

		.content-tabs {
			.content-tab {
				display: none;

				&.active {
					display: block;
				}
			}
		}
	}

}
