@import "variables";

/* ======================================== >>>>> */
/* = General helpers = */
/* ======================================== >>>>> */

/* ––––– General transition ––––– */

general-transition() {
	@media (min-width: $screen-md-min) {
		transition: all .3s ease;
	}
}

/* ––––– Bootstrap container fixed width on small screen ––––– */

.container {
	@media (max-width: $screen-xs-max) {
		max-width: 320px;
		width: 100%;
	}
}

/* ––––– Fixed bootstrap img responsive ––––– */

.img-responsive {
	height: auto;
	width: 100%;
}