/* ======================================== >>>>> */
/* = Media queries = */
/* ======================================== >>>>> */

$screen-ss-min = 480px;
$screen-sm-min = 768px;
$screen-md-min = 992px;
$screen-lg-min = 1200px;
$screen-xl-min = 1600px;
$screen-xs-max = $screen-sm-min - 1px;
$screen-sm-max = $screen-md-min - 1px;
$screen-md-max = $screen-lg-min - 1px;